<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.callor.bus.dao.UserDao">

	<insert id="insert">
		INSERT INTO tbl_todoList
		(u_id, u_password, u_name, u_tel, u_gender)
		VALUES
		(#{u_id}, #{u_password}, #{u_name}, #{u_tel}, #{u_gender})
	</insert>

</mapper> 